<?xml version="1.0"?>
<config>
    <modules>
        <GraciousStudios_SecureCart>
            <version>0.1.0</version>
        </GraciousStudios_SecureCart>
    </modules>
    <frontend>
        <secure_url>
            <checkout_cart>/checkout/cart</checkout_cart>
            <checkout>/checkout/cart</checkout>
        </secure_url>
    </frontend>
</config>